table {
table-layout: fixed;
width: 100%;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
background: #5a567f;
color: white;
padding: 10px 20px;
}
td {
overflow: hidden;
text-overflow: ellipsis;
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
background: #9595b6;
text-align: left;
}
